@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DTN4.Models.Customer>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Quản lý danh sách khách hàng</h1>
    <ol class="breadcrumb mb-4">
        <li asp-area="Admin" asp-controller="adminCustomers" asp-aciton="Index">Dashboard</li>
        <li class="breadcrumb-item active">Danh sách khách hàng: page @CurrentPage
        
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Danh sách khách hàng
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ và tên</th>
                        <th>Số điện thoạt</th>
                        <th>Địa chỉ</th>
                        @*<th>Tỉnh thành</th>*@
                        <th>Email</th>
                        <th>Ngày sinh</th>
                        @*<th>locationID</th>*@
                        @*<th>District</th>*@
                        @*<th>Create</th>*@
                        @*<th>Salt</th>*@
                       @* <th>lastLogin</th>*@
                       @* <th>Trạng thái</th>*@
                        @*<th>Word</th>*@
                    </tr>
                </thead>
                <a class="btn btn-primary" asp-controller="adminCustomers" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Them khach hang</span></a>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CustomId</td>
                                <td>@item.CustomName</td>
                                <td>@item.Phone</td>
                                <td>@item.Address</td>
                                @*<td>@item.Location.LocationName</td>*@
                                <td>@item.Email</td>
                                <td>@item.BirthDay</td>
                                @*<td>@item.Avatar</td>*@
                                @*<td>@item.LocationId</td>*@
                                @*<td>@item.District</td>*@
                                @*<td>@item.Create</td>*@
                                @*<td>@item.Salt</td>*@
                                @*<td>@item.LastLogin</td>*@
                                @*<td>@item.Word</td>*@
                                @*<td>@item.Active</td>*@
                                <td>
                                    <a asp-area="Admin" asp-controller="adminCustomers" asp-action="Edit" asp-route-id="@item.CustomId" class="btn btn-secondary">Edit</a> |
                                    <a asp-area="Admin" asp-controller="adminCustomers" asp-action="Details" asp-route-id="@item.CustomId" class="btn btn-primary">Details</a> |
                                    <a asp-area="Admin" asp-controller="adminCustomers" asp-action="Delete" asp-route-id="@item.CustomId" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation exemple">
                <ul class="pagination">
                    <pager class="page-container" list="@Model" asp-area="Admin" asp-controller="adminCustomers" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
