@model IEnumerable<DTN4.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<p style="width: 200px; margin:50px;" class="btn btn-primary">
    <a asp-action="Create" style="color:white">Thêm mới quyền truy cập</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a  asp-area="Admin" asp-controller="adminRoles" asp-action="Edit" asp-route-id="@item.RoleId" class="btn btn-secondary">Edit</a> |
                <a asp-area="Admin" asp-controller="adminRoles" asp-action="Details" asp-route-id="@item.RoleId" class="btn btn-primary">Details</a> |
                <a asp-area="Admin" asp-controller="adminRoles" asp-action="Delete" asp-route-id="@item.RoleId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
