@model DTN4.ModelViews.muaHang
@*@model List<DTN4.ModelViews.muaHang>*@
@{
    ViewData["Title"] = "Ind";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DTN4.ModelViews.CartItem> Carts = ViewBag.cart;
}

<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @*<h6><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code*@
                </h6>
            </div>
        </div>
        <div class="checkout__form">
            <h4>Billing Details</h4>
            <form asp-controller="checkOut" asp-action="Index" method="post">
                <div class="row">

                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <label>Ten</label>
                                    <input type="text" value="@Model.fullName">
                                </div>
                            </div>
                            @*<div class="col-lg-6">
                            <div class="checkout__input">
                            <p>Last Name<span>*</span></p>
                            <input type="text">
                            </div>
                            </div>*@
                        </div>
                        <div class="checkout__input">
                            <p>TinhThanh<span>*</span></p>
                            <input type="text">
                        </div>
                        <div class="checkout__input">
                            <p>QuanHuyen<span>*</span></p>
                            <input type="text" placeholder="Street Address" class="checkout__input__add">
                            @*<input type="text" placeholder="Apartment, suite, unite ect (optinal)">*@
                        </div>
                        <div class="checkout__input">
                            <p>ThiXa<span>*</span></p>
                            <input type="text">
                        </div>
                        @*<div class="checkout__input">
                        <p>Country/State<span>*</span></p>
                        <input type="text">
                        </div>*@
                        @*<div class="checkout__input">
                        <p>Postcode / ZIP<span>*</span></p>
                        <input type="text">
                        </div>*@
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>So dien thoai<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                        </div>


                    </div>
                    @*HERE*@

                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Đơn hàng của bạn</h4>
                            <div class="checkout__order__products">Sản phẩm <span>Đơn giá</span></div>
                            <ul>
                                @if(Carts.Count() > 0)
                                {
                                    foreach (var item in Carts)
                                    {
                                        <li>@item.product.ProductName <strong class="product-quanyity">x @item.amount </strong>
                                            <span>@item.product.Price.Value.ToString("#,##0")VND</span></li>
                                    }
                                }
                                
                                
                            </ul>
                            <div class="checkout__order__subtotal">Subtotal <span>@Carts.Sum(x => x.TotalMoney).ToString("#,##0")VDN</span></div>
                            

                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>
                    @*END*@
                    @*@await Html.PartialAsync("_gioHangPartialView.cshtml") *@
                </div>
            </form>
        </div>
    </div>
</section>

