@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DTN4.Models.TinTuc>
@{
    ViewData["Title"] = "Danh sách Tin Tức";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid px-4">
    <h1 class="mt-4">Quản lý danh sách Tin tức</h1>
    <ol class="breadcrumb mb-4">
       
        <li class="breadcrumb-item active">Danh sách Tin tức :page @ViewBag.CurrentPage </li>
        <li>
    </ol>
    <div class="card mb-4">
        
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Trạng thái</th>
                        <th>IsHOT</th>
                        <th>IsNewFeed</th>
                        <th>Ngày viết</th>
                        <th>#</th>
                    </tr>
                </thead>
                <a class="btn btn-primary" asp-controller="adminTinTucs" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm Tin tức</span></a>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PostId</td>
                                <td>@item.Title</td>
                                <td>
                                    @if (@item.Published == true)
                                    {
                                        <div>Public</div>
                                    }
                                    else
                                    {
                                        <div>Non-Public</div>
                                    }
                                </td>
                                <td>
                                    @if (@item.IsHot == true)
                                    {
                                        <div>Hot</div>
                                    }
                                    else
                                    {
                                        <div>-</div>
                                    }
                                </td>
                                <td>
                                    @if (@item.IsNewFeed == true)
                                    {
                                        <div>NewFeed</div>
                                    }
                                    else
                                    {
                                        <div>-</div>
                                    }
                                </td>
                                <td>@item.CreateDate</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="adminTinTucs" asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-secondary">Edit</a> |
                                    <a asp-area="Admin" asp-controller="adminTinTucs" asp-action="Details" asp-route-id="@item.PostId" class="btn btn-primary">Details</a> |
                                    <a asp-area="Admin" asp-controller="adminTinTucs" asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation exemple">
                <ul class="pagination">
                    <pager class="page-container" list="@Model" asp-area="Admin" asp-controller="adminTinTucs" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>